In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
rds_connection_string = "postgres:root123@localhost:5433/NBA_DB"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [6]:
df_salary = pd.read_csv('./Resources/salary.csv')
df_salary.head()

,Register Value,Player Name,Salary,Season Start,Season End,Team,Full Team Name
0,1.0,A.C. Green,"$1,750,000.00",1990.0,1991.0,LAL,Los Angeles Lakers
1,354.0,A.C. Green,"$1,750,000.00",1991.0,1992.0,LAL,Los Angeles Lakers
2,727.0,A.C. Green,"$1,750,000.00",1992.0,1993.0,LAL,Los Angeles Lakers
3,1103.0,A.C. Green,"$1,885,000.00",1993.0,1994.0,PHO,Phoenix Suns
4,1497.0,A.C. Green,"$6,472,600.00",1994.0,1995.0,PHO,Phoenix Suns

In [7]:
df_salary['Player Name'][0]

'A.C. Green'

In [11]:
pd.read_sql_query("select player_id from player where full_name = '" + df_salary['Player Name'][0] + "'", con=engine).head()

   player_id
0        920