In [1]:
import pandas as pd

In [2]:
csv = "Resources/playerstats2018-2019.csv"

player_table = pd.read_csv(csv)
player_table.head()

,Name,Height,Weight,Team,Age,Salary,Points,Blocks,Steals,Assists,...,MP,G,PER,OWS,DWS,WS,WS48,USG,BPM,VORP
0,Alex Abrines,78,200,Oklahoma City Thunder,25,5455236,5.3,0.2,0.5,0.6,...,19.0,31,6.3,0.1,0.6,0.6,0.053,12.2,-3.4,-0.2
1,Quincy Acy,79,240,Phoenix Suns,28,213949,1.7,0.4,0.1,0.8,...,12.3,10,2.9,-0.1,0.0,-0.1,-0.022,9.2,-5.9,-0.1
2,Jaylen Adams,74,190,Atlanta Hawks,22,236854,3.2,0.1,0.4,1.9,...,12.6,34,7.6,-0.1,0.2,0.1,0.011,13.5,-4.4,-0.3
3,Steven Adams,84,265,Oklahoma City Thunder,25,24157304,13.9,1.0,1.5,1.6,...,33.4,80,18.5,5.1,4.0,9.1,0.163,16.4,2.7,3.2
4,Bam Adebayo,82,255,Miami Heat,21,2955840,8.9,0.8,0.9,2.2,...,23.3,82,17.9,3.4,3.4,6.8,0.171,15.8,3.0,2.4

In [3]:
player_table.columns

Index(['Name', 'Height', 'Weight', 'Team', 'Age', 'Salary', 'Points', 'Blocks',
       'Steals', 'Assists', 'Rebounds', 'FT%', 'FTA', 'FG3%', 'FG3A', 'FG%',
       'FGA', 'MP', 'G', 'PER', 'OWS', 'DWS', 'WS', 'WS48', 'USG', 'BPM',
       'VORP'],
      dtype='object')

In [4]:
player_table = player_table.rename(columns={"Name": "player_name",
                                            "Height": "player_id",
                                            "Team": "team_id",
                                            "Points": "PTS",
                                            "Blocks": "BLK",
                                            "Steals": "STL",
                                            "Assists": "AST",
                                            "Rebounds": "REB",
                                            "FT%": "FT_PCT",
                                            "FTA": "FTA",
                                            "FG3%": "FG3_PCT",
                                            "FG3A": "FG3A",
                                            "FG%": "FG_PCT",
                                            "FGA": "FGA",
                                            "MP": "MIN",
                                            "G": "GP"}).dropna(how='all')
player_table.head()

,player_name,player_id,Weight,team_id,Age,Salary,PTS,BLK,STL,AST,...,MIN,GP,PER,OWS,DWS,WS,WS48,USG,BPM,VORP
0,Alex Abrines,78,200,Oklahoma City Thunder,25,5455236,5.3,0.2,0.5,0.6,...,19.0,31,6.3,0.1,0.6,0.6,0.053,12.2,-3.4,-0.2
1,Quincy Acy,79,240,Phoenix Suns,28,213949,1.7,0.4,0.1,0.8,...,12.3,10,2.9,-0.1,0.0,-0.1,-0.022,9.2,-5.9,-0.1
2,Jaylen Adams,74,190,Atlanta Hawks,22,236854,3.2,0.1,0.4,1.9,...,12.6,34,7.6,-0.1,0.2,0.1,0.011,13.5,-4.4,-0.3
3,Steven Adams,84,265,Oklahoma City Thunder,25,24157304,13.9,1.0,1.5,1.6,...,33.4,80,18.5,5.1,4.0,9.1,0.163,16.4,2.7,3.2
4,Bam Adebayo,82,255,Miami Heat,21,2955840,8.9,0.8,0.9,2.2,...,23.3,82,17.9,3.4,3.4,6.8,0.171,15.8,3.0,2.4

In [5]:
player_table.columns

Index(['player_name', 'player_id', 'Weight', 'team_id', 'Age', 'Salary', 'PTS',
       'BLK', 'STL', 'AST', 'REB', 'FT_PCT', 'FTA', 'FG3_PCT', 'FG3A',
       'FG_PCT', 'FGA', 'MIN', 'GP', 'PER', 'OWS', 'DWS', 'WS', 'WS48', 'USG',
       'BPM', 'VORP'],
      dtype='object')

In [6]:
player_table = player_table.drop(columns=["Weight","Age","Salary","PER","OWS","WS","WS48","DWS"], axis=1)
player_table.head()

,player_name,player_id,team_id,PTS,BLK,STL,AST,REB,FT_PCT,FTA,FG3_PCT,FG3A,FG_PCT,FGA,MIN,GP,USG,BPM,VORP
0,Alex Abrines,78,Oklahoma City Thunder,5.3,0.2,0.5,0.6,1.5,0.923,0.4,0.323,4.1,0.357,5.1,19.0,31,12.2,-3.4,-0.2
1,Quincy Acy,79,Phoenix Suns,1.7,0.4,0.1,0.8,2.5,0.700,1.0,0.133,1.5,0.222,1.8,12.3,10,9.2,-5.9,-0.1
2,Jaylen Adams,74,Atlanta Hawks,3.2,0.1,0.4,1.9,1.8,0.778,0.3,0.338,2.2,0.345,3.2,12.6,34,13.5,-4.4,-0.3
3,Steven Adams,84,Oklahoma City Thunder,13.9,1.0,1.5,1.6,9.5,0.500,3.7,0.000,0.0,0.595,10.1,33.4,80,16.4,2.7,3.2
4,Bam Adebayo,82,Miami Heat,8.9,0.8,0.9,2.2,7.3,0.735,2.8,0.200,0.2,0.576,5.9,23.3,82,15.8,3.0,2.4

In [7]:
player_table.columns

Index(['player_name', 'player_id', 'team_id', 'PTS', 'BLK', 'STL', 'AST',
       'REB', 'FT_PCT', 'FTA', 'FG3_PCT', 'FG3A', 'FG_PCT', 'FGA', 'MIN', 'GP',
       'USG', 'BPM', 'VORP'],
      dtype='object')

In [8]:
player_table.dtypes

player_name     object
player_id        int64
team_id         object
PTS            float64
BLK            float64
STL            float64
AST            float64
REB            float64
FT_PCT         float64
FTA            float64
FG3_PCT        float64
FG3A           float64
FG_PCT         float64
FGA            float64
MIN            float64
GP               int64
USG            float64
BPM            float64
VORP           float64
dtype: object