In [1]:
import pandas as pd

In [2]:
csv = "Resources/salary.csv"

salary_table = pd.read_csv(csv)
salary_table.head()

,Register Value,Player Name,Salary,Season Start,Season End,Team,Full Team Name
0,1.0,A.C. Green,"$1,750,000.00",1990.0,1991.0,LAL,Los Angeles Lakers
1,354.0,A.C. Green,"$1,750,000.00",1991.0,1992.0,LAL,Los Angeles Lakers
2,727.0,A.C. Green,"$1,750,000.00",1992.0,1993.0,LAL,Los Angeles Lakers
3,1103.0,A.C. Green,"$1,885,000.00",1993.0,1994.0,PHO,Phoenix Suns
4,1497.0,A.C. Green,"$6,472,600.00",1994.0,1995.0,PHO,Phoenix Suns

In [3]:
salary_table = salary_table.drop(columns=['Full Team Name'], axis=1)

In [4]:
salary_table.columns

Index(['Register Value', 'Player Name', ' Salary ', 'Season Start',
       'Season End', 'Team'],
      dtype='object')

In [8]:
salary_table = salary_table.rename(columns={"Register Value": "salary_id",
                                            "Player Name": "player_name",
                                            " Salary ": "salary",
                                            "Season Start": "start_season",
                                            "Season End": "end_season",
                                            "Team": "id_team"}).dropna(how='all')
salary_table.head()

   salary_id player_name           salary  start_season  end_season id_team
0        1.0  A.C. Green   $1,750,000.00         1990.0      1991.0     LAL
1      354.0  A.C. Green   $1,750,000.00         1991.0      1992.0     LAL
2      727.0  A.C. Green   $1,750,000.00         1992.0      1993.0     LAL
3     1103.0  A.C. Green   $1,885,000.00         1993.0      1994.0     PHO
4     1497.0  A.C. Green   $6,472,600.00         1994.0      1995.0     PHO

In [9]:
salary_table.columns

Index(['salary_id', 'player_name', 'salary', 'start_season', 'end_season',
       'id_team'],
      dtype='object')

In [10]:
salary_table = salary_table.astype({'salary_id': int,
                                    'player_name': str,
                                    'salary': float,
                                    'start_season': int,
                                    'end_season': int,
                                    'id_team': str}, errors="ignore")
salary_table.dtypes

ValueError: could not convert string to float: ' $1,750,000.00 '

In [ ]:
for player in player_id: