In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
csv = "Resources/salary.csv"

salary_df = pd.read_csv(csv)
salary_df.head()

,Register Value,Player Name,Salary,Season Start,Season End,Team,Full Team Name
0,1,A.C. Green,1750000,1990,1991,LAL,Los Angeles Lakers
1,354,A.C. Green,1750000,1991,1992,LAL,Los Angeles Lakers
2,727,A.C. Green,1750000,1992,1993,LAL,Los Angeles Lakers
3,1103,A.C. Green,1885000,1993,1994,PHO,Phoenix Suns
4,1497,A.C. Green,6472600,1994,1995,PHO,Phoenix Suns

In [3]:
salary_df = salary_df.drop(columns=['Full Team Name'], axis=1)

In [4]:
salary_df.columns

Index(['Register Value', 'Player Name', 'Salary', 'Season Start', 'Season End',
       'Team'],
      dtype='object')

In [5]:
salary_df = salary_df.rename(columns={"Register Value": "salary_id",
                                            "Player Name": "player_id",
                                            "Salary": "salary",
                                            "Season Start": "start_season",
                                            "Season End": "end_season",
                                            "Team": "id_team"}).dropna(how='all')
salary_df.head()

   salary_id player_name   salary  start_season  end_season id_team
0          1  A.C. Green  1750000          1990        1991     LAL
1        354  A.C. Green  1750000          1991        1992     LAL
2        727  A.C. Green  1750000          1992        1993     LAL
3       1103  A.C. Green  1885000          1993        1994     PHO
4       1497  A.C. Green  6472600          1994        1995     PHO

In [6]:
salary_df.columns

Index(['salary_id', 'player_name', 'salary', 'start_season', 'end_season',
       'id_team'],
      dtype='object')

In [ ]:
#change player name to player id

In [7]:
salary_df = salary_df.astype({'salary_id': int,
                                    'player_id': int,
                                    'salary': float,
                                    'start_season': int,
                                    'end_season': int,
                                    'id_team': str}, errors="ignore")
salary_df.dtypes

salary_id         int32
player_name      object
salary          float64
start_season      int32
end_season        int32
id_team          object
dtype: object

In [9]:
rds_connection_string = "postgres:root123@localhost:5432/NBA_DB"
engine = create_engine(f'postgresql://{rds_connection_string}')
engine.table_names()

['players',
 'seasons_stats',
 'team',
 'team_player',
 'player',
 'salary',
 'player_stats',
 'team_stats']

In [10]:
salary_df.to_sql(name='salary', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "player_name" of relation "salary" does not exist
LINE 1: INSERT INTO salary (salary_id, player_name, salary, start_se...
                                       ^

[SQL: INSERT INTO salary (salary_id, player_name, salary, start_season, end_season, id_team) VALUES (%(salary_id)s, %(player_name)s, %(salary)s, %(start_season)s, %(end_season)s, %(id_team)s)]
[parameters: ({'salary_id': 1, 'player_name': 'A.C. Green', 'salary': 1750000.0, 'start_season': 1990, 'end_season': 1991, 'id_team': 'LAL'}, {'salary_id': 354, 'player_name': 'A.C. Green', 'salary': 1750000.0, 'start_season': 1991, 'end_season': 1992, 'id_team': 'LAL'}, {'salary_id': 727, 'player_name': 'A.C. Green', 'salary': 1750000.0, 'start_season': 1992, 'end_season': 1993, 'id_team': 'LAL'}, {'salary_id': 1103, 'player_name': 'A.C. Green', 'salary': 1885000.0, 'start_season': 1993, 'end_season': 1994, 'id_team': 'PHO'}, {'salary_id': 1497, 'player_name': 'A.C. Green', 'salary': 6472600.0, 'start_season': 1994, 'end_season': 1995, 'id_team': 'PHO'}, {'salary_id': 1832, 'player_name': 'A.C. Green', 'salary': 6473000.0, 'start_season': 1995, 'end_season': 1996, 'id_team': 'PHO'}, {'salary_id': 2207, 'player_name': 'A.C. Green', 'salary': 4851000.0, 'start_season': 1996, 'end_season': 1997, 'id_team': 'DAL'}, {'salary_id': 2977, 'player_name': 'A.C. Green', 'salary': 5125088.0, 'start_season': 1998, 'end_season': 1999, 'id_team': 'DAL'}  ... displaying 10 of 11837 total bound parameter sets ...  {'salary_id': 7485, 'player_name': 'Zydrunas Ilgauskas', 'salary': 10841615.0, 'start_season': 2008, 'end_season': 2009, 'id_team': 'CLE'}, {'salary_id': 7943, 'player_name': 'Zydrunas Ilgauskas', 'salary': 11541074.0, 'start_season': 2009, 'end_season': 2010, 'id_team': 'WAS'})]
(Background on this error at: http://sqlalche.me/e/f405)

In [ ]:



# pd.read_sql_query("select player_id from player where full_name = '" + df_salary['Player Name'][0] + "'", con=engine).head()